:root {
    --bg-color: rgba(86, 191, 181, 1);
    --bg-color-2: rgba(145, 217, 217, 1);
    --box-color: rgba(68, 166, 166, 1);
    --box-text-color: rgba(4, 85, 191, 1);
    --dark-color: rgba(2, 40, 115, 1);

    --big-font: 'Montserrat', sans-serif;
    --main-font: 'Spartan', sans-serif;

    --white-space: 1rem;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 21px;
    color: var(--dark-color);

}

body {
    background-color: var(--box-color);

}

header {
    background-color: var(--bg-color-2);
    font-family: var(--big-font);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header img {
    width: 10vw;
    margin-right: 2vw;
}


/* NAVIGATION BAR NAVIGATION BAR NAVIGATION BAR NAVIGATION BAR NAVIGATION BAR NAVIGATION BAR NAVIGATION BAR */

#page-nav {
    padding-top: 1vh;
    width: 100vw;
    background: var(--bg-color-2);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#page-nav label,
#hamburger {
    display: none;
}

#page-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#page-nav ul li {
    display: inline-block;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#page-nav ul li a {
    color: var(--main-text-color);
    text-decoration: none;
}


/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
main {
    background-color: var(--box-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}



.txt-container {
    display: grid;
    grid-auto-columns: repeat(auto-fit, max(200px, 1fr));
}

h1 {
    font-size: 5vw;
    font-weight: 700;
    padding: 1em;
    text-align: center;
}

p {
    font-weight: 400;
    padding: 3em;
    max-width: 50vw;
}

.topic {
    background-color: var(--bg-color-2);
    font-family: var(--big-font);
    padding-right: 2vw;
    font-size: 4rem;
    line-height: 5rem;
    text-align: right;
    width: auto;
    place-self: stretch;
}

.topic:hover {
    background-color: var(--bg-color);
    font-size: 4rem;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
}

.topic span {
    color: var(--bg-color-2);
    font-size: 2rem;

}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

footer {
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: white;
}



/* [MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES MEDIA QUERIES ] */
@media screen and (max-width: 768px) {

    * {
        font-size: 16px;
    }

    header img {
        padding: 1rem;
        width: 20vw;
        margin-right: 2vw;
    }

    /* Show Hamburger */
    #page-nav label {
        display: inline-block;
        color: var(--bg-color);
        background: var(--bg-color-2);
        font-style: normal;
        font-size: 1.2em;
        padding: 1rem;
    }

    /* Break down menu items into vertical */
    #page-nav ul li {
        display: block;
    }

    #page-nav ul li {
        border-top: 1px solid;
        border-color: var(--dark-color);
    }

    /* Toggle show/hide menu on checkbox click */
    #page-nav ul {
        display: none;
    }

    #page-nav input:checked ~ ul {
        display: block;
    }

    p {
        font-weight: 400;
        padding: 1em;
        max-width: 80vw;
    }
}
